In [1]:
L = ["one", "for", "all"] 
L[0], L[-1] = L[-1], L[0] 
print(L)

['all', 'for', 'one']

In [2]:
name = input("Enter name with three parts: ")
L = name.split()
print(L[0], L[2])

Enter name with three parts: Guido van Rossum.
Guido Rossum.

In [3]:
list1 = ['h', 'o', 'n', 'P', 'y', 't'] 
list2 = list1[3:] + list1[:3] 
print(("").join(list2))

Python

In [4]:
list1 = ["is", "Less", "more."] 
list1[0], list1[1] = list1[1], list1[0] 
print(" ".join(list1))

Less is more.

In [5]:
carousel = ["merry", "go", "round"] 
print(('-').join(carousel))

merry-go-round

In [6]:
allDay = "around-the-clock" 
print(allDay.split('-'))

['around', 'the', 'clock']

In [7]:
nations = "France\nEngland\nSpain" 
countries = nations.split() 
print(countries)

['France', 'England', 'Spain']

In [10]:
# The three lines of Abc.txt contain a b, c, d 
infile = open("Abc.txt", 'r')
alpha = [line.rstrip() for line in infile] 
infile.close()
word = ("").join(alpha)
print(word)

abc

In [11]:
# The two lines of Live.txt contain Live, let 
infile = open("Live.txt", 'r')
words = [line.rstrip() for line in infile]
infile.close()
words.append(words[0].lower())
quote = (" ").join(words) + '.'
print(quote)

Live let live.

In [12]:
nums = (6, 2, 8, 0)
print("Largest Number:", max(nums)) 
print("Length:", len(nums)) 
print("Total:", sum(nums)) 
print("Number list:", list(nums))

Largest Number: 8
Length: 4
Total: 16
Number list: [6, 2, 8, 0]

In [14]:
word = "diary"
list1 = list(word) 
list1.insert(3, list1[1]) 
del list1[1]
word = "".join(list1) 
print(word)

dairy

In [22]:
def main():
    m,n = take_input()
    gcd = gcd_calculations(m,n)
    print('Greatest Common Divisor: {}'.format(gcd))
    
def take_input():
    m = int(input('Enter value of M: '))
    n = int(input('Enter value of N: '))
    return m,n

def gcd_calculations(m,n):
    while n!=0:
        t = n
        n = m % n 
        m = t
    return m
main()

Enter value of M: 30
Enter value of N: 35
Greatest Common Divisor: 5

In [23]:
age = 1
while (1980 + age) != (age * age):
    age += 1
print("Person will be {} \nin the year {1}.".format(age, age * age))

Person will be 45
in the year 2025.

In [25]:
principal = 15000
balance = principal 
monthly_payment = 290
monthly_factor = 1.005
month = 0
while(balance >= principal / 2):
    balance =  (monthly_factor * balance) - monthly_payment
    month += 1
print("Loan will be half paid \noff after", month, "months.")

Loan will be half paid
off after 33 months.

In [28]:
intial_amount = 10
percentage_reduction = 12
total_years = 5
for year in range(total_years):
    intial_amount *= (1-(percentage_reduction/100))
print('The amount of cobalt-60 remaining \nafter five years is {:.2f} grams.'.format(intial_amount))

The amount of cobalt-60 remaining
after five years is 5.28 grams.

In [31]:
vowels = ['a','e','i','o','u']
words = input('Enter a phrase: ')
count = 0
for word in words:
    if word in vowels:
        count += 1
print('The phrase contains {} vowels.'.format(count))

Enter a phrase: Less is more.
The phrase contains 4 vowels.

In [36]:
total_value = 100
fractions = 0
for value in range(2,(total_value + 1)):
    fractions += (1/value)
print('The sum 1 + 1/2 + 1/3 + ... + 1/100 \nis {:.5f} to five decimal places.'.format(fractions + 1))

The sum 1 + 1/2 + 1/3 + ... + 1/100
is 5.18738 to five decimal places.

In [52]:
def occurrences(string, substring):
    count = 0
    one_string = string.replace(substring,'1')
    for one in one_string:
        if one == '1':
            count += 1
    return count
print('Total occurrences are '+ str(occurrences('lolahogalolalole', 'lol')))

Total occurrences are 3

In [75]:
def factorial():
    integer = int(input('Enter a positive integer: '))
    factorial = 1
    for i in reversed(range(1,integer + 1)):
        factorial *= i
    return factorial    
print('{}! is {}'.format(integer,factorial()))

Enter a positive integer: 5
5! is 120

In [73]:
def main():
    first_name, last_name, salary = user_input()
    new_salary = calculation(salary)
    salary_output(first_name,last_name,new_salary)
    
def user_input():
    first_name = input('Enter first name: ')
    last_name = input('Enter last name: ')
    salary = float(input('Enter current salary: '))
    return first_name, last_name, salary

def calculation(salary):
    new_salary = 0
    if salary < 40000:
        new_salary = salary * (1.05)
    elif salary > 40000:
        new_salary = salary + ((salary - 40000) * (1.02)) + 2000
    else:
        new_salary = salary + 2000
        
    return new_salary  

def salary_output(first_name,last_name,new_salary):
    print('New salary for {} {}: ${:,.2f}'.format(first_name,last_name,new_salary))
    
main()

Enter first name: John
Enter last name: Doe
Enter current salary: 48000
New salary for John Doe: $58,160.00