In [1]:
27 > 9

True

In [5]:
"97" > "2"

True

In [3]:
"27" == "27"

True

In [6]:
tup = (3, 6, 8, 2, 78, 1, 23, 45, 9)
sorted(tup)

[1, 2, 3, 6, 8, 9, 23, 45, 78]

In [8]:
tup = ('monarchs')
sorted(tup)

['a', 'c', 'h', 'm', 'n', 'o', 'r', 's']

In [19]:
print('C' + chr(35))

C#

In [20]:
print(chr(ord('B'))) # The ASCII value of B is 66

B

In [26]:
list1 = [17, 3, 12, 9, 10] 
list1.sort()
print("Spread:", list1[-1] - list1[0])

Spread: 14

In [22]:
letter = 'D'
spread = ord('a') - ord('A') 
print(chr(ord(letter) + spread))

d

In [25]:
a = 2
b = 3
((5 - a) * b) < 7

False

In [27]:
a ** b == b ** a

False

In [28]:
3e-2 < .01 * a

False

In [29]:
(a * a < b) or not(a * a < a)

True

In [30]:
not(a < b) or not (a < (b + a))

False

In [31]:
((a == b) or not (b < a)) and ((a < b) or (b == a + 1))

True

In [32]:
"Inspector" < "gadget"

True

In [33]:
'J' >= 'J'

True

In [34]:
'B' > '?'

True

In [35]:
"Duck" < "Duck" + "Duck"

True

In [36]:
"th" in "Python"

True

In [37]:
(7 < 34) and ("7" < "34")

False

In [38]:
isinstance(32., int)

False

In [39]:
isinstance(32, int)

True

In [40]:
"knight".startswith('n')

False

In [41]:
"flute".endswith('t')

False

In [42]:
True and False

False

In [43]:
not False

True

In [45]:
not(a < b)

False

In [46]:
a > b

False

In [48]:
c = 4
not((a == b) or (a == c))

True

In [49]:
(a != b) and (a != c)

True

In [50]:
not((a == b) or (a == c)); (a != b) and (a != c)

True

In [52]:
d =5
e= 6
(a < b) and ((a > d) or (a > e));
((a < b) and (a > d)) or ((a < b) and (a > e))

False

In [53]:
not(a >= b); (a <= b) and not(a == b)

True

In [57]:
str1 = 'abcd'
str1.upper() == str1; str1.isupper()

False

In [62]:
(a == b) or (a == d)
not(a == b) or not(a == d)

True

In [64]:
not((a == b) or (a > b))
((a == b) or (a > b))

True

In [65]:
(a!='') and ( a < b) and (len(a) < 5)
(a=="") and (a > b) and (len(a) > 5)

TypeError: object of type 'int' has no len()

In [74]:
name = 'Aramis'
(name == 'Athos' or 'Porthos' or 'Aramis')
(name == "Athos") or (name == "Porthos") or (name == "Aramis")
names = ['Athos', 'Porthos', 'Aramis']
name in names

True

In [76]:
num = [1,2,3,4,5,6]
n = 2
(n == 1) or (n == 2) or (n == 3) or (n == 4) or (n == 5) or (n == 6)
n in num

True

In [78]:
(n <= 22) and (n > 1)
1 < n <=22

True

In [87]:
n = 201
(n <= 200) and (n >= 100)
100 <= n <= 200

False

In [88]:
print("colonel".startswith('k'))

False

In [89]:
str1 = "target" 
str2 = "get"
print(str1.endswith(str2))

True

In [90]:
str1 = "Teapot" 
print(str1.startswith(str1[0:4]))

True

In [91]:
str1 = "spam and eggs" 
print(str1.endswith(str1[10:len(str1)]))

True

In [92]:
num = "1234.56" 
print(isinstance(num, float))

False

In [93]:
print(isinstance("25", int))

False

In [94]:
letter = ord('M') 
print(isinstance(letter, str))

False

In [95]:
print("seven".isdigit())

False

In [98]:
gpa = 3.49 
result = ""
if gpa >= 3.5:
       result = "Honors"
print(result + "Student")

Student

In [99]:
print('A' < 'B' < 'c')

True

In [100]:
change = 356
if change >= 100:
        print("Your change contains", change // 100, "dollars.")
else:
        print("Your change contains no dollars.")

Your change contains 3 dollars.

In [101]:
length = eval(input("Enter length of cloth in yards: ")) 
if length < 1:
    cost = 3.00    # cost in dollars
else:
    cost = 3.00 + ((length - 1) * 2.50)
result = "Cost of cloth is ${0:0.2f}.".format(cost)
print(result)

Enter length of cloth in yards: 6
Cost of cloth is $15.50.

In [103]:
isvowel = False
letter = input("Enter a letter: ") 
letter = letter.upper()
if (letter in "AEIOU"):
    isvowel = True
if isvowel:
    print(letter, "is a vowel.")
elif (not(65 <= ord(letter) <= 90)):
    print("You did not enter a letter.")
else:
    print(letter, "is not a vowel.")

Enter a letter: a
A is a vowel.

In [105]:
number = 5
if number < 0:
        print("negative")
else:
    if number == 0:
        print("zero")
    else:
        print("positive")

positive

In [106]:
if "":
    print("An empty string is true.")
else:
    print("An empty string is false.")

An empty string is false.

In [107]:
number = 6
if number > 5 and < 9:
    print("Yes")
else:
    print("No")

SyntaxError: invalid syntax (<ipython-input-107-8b72aef7ae28>, line 2)

In [109]:
if a = b:
    print("same")

SyntaxError: invalid syntax (<ipython-input-109-263640b69eaf>, line 1)

In [111]:
if (a == 7): 
    print("seven")
elif (a != 7):
    print("eleven")

eleven

In [114]:
state = 'CA'
city = 'LA'
if state == "CA":
    if city == "LA" or city == "SD":
        print("Large city!")

Large city!

In [116]:
if state == 'CA' and (city == "LA" or city == "SD"):
    print('Large city!')

Large city!

In [124]:
feet = eval(input("How tall (in feet) is the Statue of Liberty? ")) 
if (feet <= 141):
    print("Nope")
if (feet > 141):
    if (feet < 161):
        print("Good")
    else:
        print("Nope")
print("The statue is 151 feet tall from base to torch.")

How tall (in feet) is the Statue of Liberty? 141
Nope
The statue is 151 feet tall from base to torch.

In [125]:
feet = eval(input("How tall (in feet) is the Statue of Liberty? ")) 
if  141 < feet < 161:
    print('Good')
else:
    print('Nope')
print("The statue is 151 feet tall from base to torch.")

How tall (in feet) is the Statue of Liberty? 141
Nope
The statue is 151 feet tall from base to torch.

In [126]:
num = 3
while num < 15:
       num += 5
print(num)

18

In [128]:
total = 0 
num = 1
while num < 5:
    total += num
    num += 1
print(total)

10

In [1]:
oceans = ["Atlantic", "Pacific", "Indian", "Arctic", "Antarctic"] 
i = len(oceans) - 1
while i >= 0:
    if len(oceans[i]) < 7:
        del oceans[i]
    i=i- 1
print(", ".join(oceans))

Atlantic, Pacific, Antarctic

In [2]:
numTries = 0 
year = 0
while (numTries < 7) and (year != 1964):
    numTries += 1
    year = int(input("Try #" + str(numTries) + ": In what year " +
                         "did the Beatles invade the U.S.? "))
    if year == 1964:
        print("\nYes. They performed on the Ed Sullivan show in 1964.")
        print("You answered correctly in " + str(numTries) + " tries.")
    elif year < 1964:
        print("Later than", year)
    else: # year > 1964
        print("Earlier than", year)
if (numTries == 7) and (year != 1964):
    print("\nYour 7 tries are up. The answer is 1964.")

Try #1: In what year did the Beatles invade the U.S.? 1950
Later than 1950
Try #2: In what year did the Beatles invade the U.S.? 1970
Earlier than 1970
Try #3: In what year did the Beatles invade the U.S.? 1964

Yes. They performed on the Ed Sullivan show in 1964.
You answered correctly in 3 tries.

In [3]:
num = 0
while True
    num = 1
    print(num)
    num += 1

SyntaxError: invalid syntax (<ipython-input-3-a7fb92020f98>, line 2)

In [5]:
list1 = ['a', 'b', 'c', 'd']
i= 0
while True:
        print(list1[i])
        if i = len(list1):
            break 
        i=i+ 1

SyntaxError: invalid syntax (<ipython-input-5-b271d8adfa31>, line 5)

In [19]:
L = [2, 4, 6, 8] 
total = 0
while L != []:
    total += L[0]
    L = L[1:]
print(total)

20

In [21]:
list(range(-11, -7))

[-11, -10, -9, -8]

In [22]:
list(range(2010, 2030, 5))

[2010, 2015, 2020, 2025]

In [23]:
list(range(1))

[0]

In [24]:
list(range(12, 2, -5))

[12, 7]

In [25]:
list(range(4)) 0, 1, 2, 3 4, 3, 2, 1

[0, 1, 2, 3]

In [35]:
list(range(4,0,-1))

[4, 3, 2, 1]

In [37]:
list(range(7,8)) -5, -3, -1, 1

[7]

In [38]:
list(range(-5,2,2))

[-5, -3, -1, 1]

In [39]:
for i in range(3, 7):
    print(2 * i)

6
8
10
12

In [40]:
for i in range(-9, 0, 3):
    print(i)

-9
-6
-3

In [41]:
n= 3
total =0
for i in range(1, n + 1):
    total += i
print(total)

6

In [42]:
for countdown in range(10, 0, -1):
    print(countdown)

10
9
8
7
6
5
4
3
2
1

In [43]:
numCaps = 0
name = "United States of America"
for ch in name:
    if ch.isupper():
        numCaps += 1
print(numCaps)

3

In [44]:
word = "cloudier"
newWord = ""
evenIndex = True
for ch in word:
    if evenIndex:
        newWord += ch
    evenIndex = not evenIndex
print(newWord)

code

In [45]:
for ch in "Python":
    break
print(ch)

P

In [48]:
list1 = [2, 9, 6, 7, 13, 3] 
maxOfOdds = 0
for num in list1:
    if (num % 2 == 1) and (num > maxOfOdds):
        maxOfOdds = num
print(maxOfOdds)

13

In [50]:
numOfNumbers = 0
list1 = ["three", 4, 5.7, "six", "seven", 8, 3.1416] 
for item in list1:
        if isinstance(item, str):
            continue
        numOfNumbers += 1
print(numOfNumbers)

4

In [53]:
# I'm looking over a four leaf clover.
leaves = ("sunshine","rain", "the roses that bloom in the lane",
              "somebody I adore")
number = 1
for leaf in leaves:
    print("Leaf", str(number) + ':', leaf)
    number += 1

Leaf 1: sunshine
Leaf 2: rain
Leaf 3: the roses that bloom in the lane
Leaf 4: somebody I adore

In [55]:
dataList = []
infile = open("Numbers.txt", 'r')
for line in infile:
        dataList.append(eval(line))
infile.close()
print(sum(dataList))

30

In [57]:
infile = open("States.txt", 'r')
for line in infile:
    continue
infile.close()
print(line, end="")

"Hawaii"

In [58]:
for i in range(1, 4):
    print(i + " " + 2 ** i)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [60]:
list1 = ['a', 'b', 'c'] 
for letter in list1:
    letter = letter.upper()
print(list1)

['a', 'b', 'c']

In [61]:
list1 = ["one", "two", "three", "four"] 
for item in list1:
    item = item.upper()
print(list1)

['one', 'two', 'three', 'four']

In [62]:
print("hello") 
print("hello") 
print("hello") 
print("hello")

hello
hello
hello
hello

In [63]:
for i in range(4):
    print('hello')

hello
hello
hello
hello

In [64]:
lakes = ["Erie", "Huron", "Michigan", "Ontario", "Superior"] 
for i in range(len(lakes)):
    print(lakes[i], end="")
if i < len(lakes) - 1:
    print(" | ", end="")

ErieHuronMichiganOntarioSuperior

In [72]:
tele_num = str(input("Enter a telephone number: "))
new_tele = ''
for num in tele_num:
    if '-' == num:
        new_tele = tele_num.replace(num,'')
print("Number without dashes is {:s}.".format(new_tele))

Enter a telephone number: 344-874-8833
Number without dashes is 3448748833.

In [76]:
tele_num = str(input("Enter a telephone number: "))
print("Number without dashes is {:s}.".format(tele_num.replace('-','')))

Enter a telephone number: 344-874-8833
Number without dashes is 3448748833.

In [77]:
high = None
for run in range(3):
    number = float(input("Enter a number: "))
    if high is None:
        high = number
    elif number > high:
        high = number
print('Largest number: {:.1f}'.format(high))

Enter a number: 3.4
Enter a number: 9.3
Enter a number: 5.5
Largest number: 9.3

In [79]:
sum = 1
for i in range(2,101):
    sum += (1/i)
print('The sum 1 + 1/2 + 1/3 + ... + 1/100 is {:.5f} to five decimal places.'.format(sum))

The sum 1 + 1/2 + 1/3 + ... + 1/100 is 5.18738 to five decimal places.

In [80]:
sum = 0
for i in range(1,101):
    sum += i
print('The sum 1 + 2 + ... + 100 is {:d}.'.format(sum))

The sum 1 + 2 + ... + 100 is 5050

In [82]:
vowels = ['a','e','i','o','u']

word = input("Enter a word: ")
if vowel in word:
    print("{:s} is a vowel word.".format(word))
else:
    print("{:s} is not a vowel word.".format(word))

Enter a word: Education
Education is not a vowel word.

In [85]:
vowels = ['a','e','i','o','u']
word = input("Enter a word: ")
count = 0
for v in vowels:
    if v in word:
        count +=1
if count == 5:
    print("{:s} is a vowel word.".format(word.upper()))
else:
    print("{:s} is not a vowel word.".format(word.upper()))

Enter a word: education
EDUCATION is a vowel word.

In [137]:
P = 1000
r = .05
t = 4
list_SI = []
list_CI = []
list_num = [1,2,3,4]
SI = (P*r) + P

for i in range(t):
    list_SI.append(SI)
    SI += 50   

for i in range(t):
    P = (P * r)+ P
    list_CI.append(round(P,2))   

single_dict = dict(zip(list_SI,list_CI))
print("{:17}{}".format('Simple Interest','Compound Interest'))
for key, val in single_dict.items():
    print("${:,.2f}{:>16s}{:,.2f}".format(key,'$',val))

Simple Interest  Compound Interest
$1,050.00               $1,050.00
$1,100.00               $1,102.50
$1,150.00               $1,157.62
$1,200.00               $1,215.51

In [ ]:
balance_at_end_of_month = (1.0025) * balance_at_end_of_month + 100

In [164]:
balance_at_the_end_of_month = 0
new_list_balance = []
year = ['2014','2015','2016','2017','2018']
for j in range(5):
    for i in range(12):
        balance_at_the_end_of_month = round(((1.0025) * balance_at_the_end_of_month) + 100,2)
    new_list_balance.append(balance_at_the_end_of_month) 

c_dict = dict(zip(year,new_list_balance))
print('{:>27}'.format("BALANCE AT"))
print("{:17}{}".format('YEAR','END OF YEAR'))
for key, val in c_dict.items():
    print("{:s}{:>14s}{:,.2f}".format(key,'$',val))

                 BALANCE AT
YEAR             END OF YEAR
2014             $1,216.63
2015             $2,470.29
2016             $3,762.07
2017             $5,093.13
2018             $6,464.66

In [168]:
intial_price = 20000
years = 4
list_dep = []
year = [1,2,3,4]
for i in range(4):
    intial_price -= (intial_price * 0.15)
    list_dep.append(intial_price)
    
c_dict = dict(zip(year,list_dep))
for key, val in c_dict.items():
    print("{:d}{:>14s}{:,.2f}".format(key,'$',val))

1             $17,000.00
2             $14,450.00
3             $12,282.50
4             $10,440.12

In [169]:
import statistics
total_num = int(input("How many numbers do you want to enter: "))
list_num = []
for i in range(total_num):
    a = int(input("Enter a number: "))    
    list_num.append(a)
print('Median : {:.1f}'.format(statistics.median(list_num)))

How many numbers do you want to enter: 4
Enter a number: 9
Enter a number: 3
Enter a number: 6
Enter a number: 5
Median : 5.5

In [172]:
intial_value = 10000

for i in range(6):
    intial_value -= (intial_value * 0.16)
for i in range(6):
    intial_value += (intial_value * 0.18)
    
print('The value of the stock at the end of the year was ${:,.2f}.'.format(intial_value))

The value of the stock at the end of the year was $9,483.48.

In [176]:
raw_team_data = open('SBWinners.txt','r').read().split("\n")
win_num = 0
for team in raw_team_data:
    win_num += 1 
    if team == 'Steelers':
        break
print("The Steelers first won the Super Bowl in game #{:d}.".format(win_num))

The Steelers first won the Super Bowl in game #9

In [181]:
import statistics
list_grade = []
for i in range(5):
    a = int(input("Enter one of five grades: "))
    list_grade.append(a)
list_grade = sorted(list_grade)
print('Average Grade: {:.2f}'.format(statistics.mean(list_grade[2:])))

Enter one of five grades: 84
Enter one of five grades: 96
Enter one of five grades: 88
Enter one of five grades: 77
Enter one of five grades: 90
Average Grade: 91.33

In [189]:
intial_word = input("Starting word:")
letter_list = []
for letter in intial_word:
    letter_list.append(letter) 
print('Crossed out letters: '+(' ').join(letter_list[0::2]))
print('Remaining letters: '+(' ').join(letter_list[1::2]))

Starting word:NAISNIENLGELTETWEORRSD
Crossed out letters: N I N E L E T T E R S
Remaining letters: A S I N G L E W O R D

In [193]:
raw_data = open('States.txt','r').read().split('\n')
print(sorted(raw_data[:13])[:5])

['Connecticut', 'Delaware', 'Georgia', 'Maryland', 'Massachusetts']

In [199]:
num = input("Enter a 4-digit number: ")
if (int(num) * 4) == int(num[::-1]):
    print('Since 4 times {:s} is {:d}, the special number is {:s}.'.format(num,(int(num)*4),num))
else:
    print('Not a special number.')

Enter a 4-digit number: 2178
Since 4 times 2178 is 8712, the special number is 2178.

In [215]:
raw_data = open('USPres.txt').read().replace('\n',',')
key = 1
dictionary_pres = {}
for i in raw_data.split(','):
    dictionary_pres[key] = i
    key+=1
print('The 34th president was {0:s}'.format(dictionary_pres[34]))

The 34th president was Dwight Eisenhower

In [211]:
d = {}
for i in 'a=b,a=c,a=d,b=e'.split(","):
    k,v = i.split("=")
    d.setdefault(k,[]).append(v)
print(d)

{'a': ['b', 'c', 'd'], 'b': ['e']}

In [218]:
one_million = 1000000
sum = 0
for i in range(one_million):
    sum += i
print('The sum of the digits in the numbers from 1 to one million is {:,d}'.format(sum))

The sum of the digits in the numbers from 1 to one million is 499,999,500,000

500000500000.0

In [219]:
n = abs(one_million)
total = 0
while n >= 1:
    total += (n % 10)
    n = n // 10
print(total)

1

In [221]:
def sumdigits(number):
    if number == 0:
        return 0
    else:
        return (number%10) + sumdigits(number//10)
summ = sumdigits(100) 
print(summ)

1

In [222]:
n = one_million
result = 0 
for x in range(1, n+1) :
    result = result + sumOfDigits(x)
print(result)

NameError: name 'sumOfDigits' is not defined

In [226]:
def sum_of_million(n) :
 
    result = 0   
    for x in range(1, n+1) :
        result = result + sum_of_individual(x)
  
    return result
 
def sum_of_individual(x) :
    sum = 0
    while (x != 0) :
        sum = sum + x % 10
        x   = x // 10
     
    return sum
 
n = 1000000
print("Sum of digits in numbers from 1 to one million is {:,d}".format(sum_of_million(n)))

Sum of digits in numbers from 1 to one million is 27,000,001

In [230]:
num_bagels = int(input('Enter number of bagels:'))
if num_bagels < 12:
    print('Costs is ${:.2f}'.format((num_bagels * .75)))
else:
    print('Costs is ${:.2f}'.format((num_bagels * .60)))

Enter number of bagels:12
Costs is $7.20

In [235]:
num_copy = int(input('Enter number of copies:'))
after_100 = 0
total = 0
if num_copy > 100:
    total = 100 * .05
    after_100 = num_copy - 100
    total += (after_100*.03)
    print('Costs is ${:.2f}'.format(total))
else:
    total = num_copy * .05
    print('Costs is ${:.2f}'.format(total))

Enter number of copies:125
Costs is $5.75

In [254]:
h_wage = float(input('Enter hourly wage: '))
h_work = int(input('Enter number of hours worked: '))

if h_work < 40:
    print('Gross pay for week is ${:.2f}'.format((h_wage * h_work)))
else: 
    print('Gross pay for week is ${:.2f}'.format((40*h_wage) + (1.5*h_wage*(h_work - 40))))

Enter hourly wage: 12.50
Enter number of hours worked: 47
Gross pay for week is $631.25

In [251]:
h_wage = 12.50
h_work = 47
(40*h_wage) + (1.5*h_wage*(h_work - 40))

631.25

In [270]:
word = input('Enter word to translate: ') 
vowel = ['a','e','i','o','u']
word_list = []
count = 0
for i in word:
    word_list.append(i)
for w in range(len(word_list)-1):
    if word_list[w] in vowel:
        val_af = ('').join(word_list[:count])
        val_b = ('').join(word_list[w:])
        print('The word in Pig Latin is {:s}.'.format(('').join(val_b + val_af)+'ay'))
        break
    else:
        count += 1
if count == (len(word_list) -1):
    print('No vowels found..!')

Enter word to translate: chip
The word in Pig Latin is ipchay.

In [257]:
word = 'elseif'
if 'e' == word[0]:
    print(word + 'ay')

elseifway

In [274]:
current_amount = float(input("Enter current balance: "))
withdraw_amount = float(input("Enter amount of withdrawal: "))

if withdraw_amount > current_amount:
    print("Withdrawal denied.")
else:
    new_amount = current_amount - withdraw_amount
    print('The new balance is ${:.2f}.'.format(new_amount))
    if new_amount < 150:
        print('Balance below $150.')

Enter current balance: 200
Enter amount of withdrawal: 25
The new balance is $175.00.

In [284]:
year = int(input('Enter a year :'))
if ((year % 4 == 0) and (year % 100 != 0)) or (year % 400 == 0):
    print(str(year) + ' is a leap year.')
else:
    print(str(year) + ' is not a leap year.')

Enter a year :2016
2016 is a leap year.

In [285]:
print("The four railroad properties are: ")
print("Reading\t\t  Peensylvania")
print("B & O\t\t   Short Line")
ans = str(input("\nWhich is not a railroad? \n"))
#properties = (Reading , Pennsylvania, B & O, Short Line)
if (ans == "Short Line"):
    print("\nCorrect \nShort Line is a bus company.")
else:
    print("\nWrong \nCorrect answer is Short Line.")

The four railroad properties are:
Reading		  Peensylvania
B & O		   Short Line

Which is not a railroad?
Short Line

Correct
Short Line is a bus company.

In [286]:
cost1 = float(input("Enter cost of first suit: "))
cost2 = float(input("Enter cost of second suit: "))
if (cost1 < cost2):
    cost1 = cost1 / 2
    total_cost = cost1 + cost2
    print("Cost of the two suits is: $" + str(total_cost))
else:
    cost2 = cost2 / 2
    total_cost = cost1 + cost2
    print("Cost of the two suits is: $" + str(total_cost))

Enter cost of first suit: 378.50
Enter cost of second suit: 495.99
Cost of the two suits is: $685.24

In [ ]:
res = float(input('Enter coefficient of restitution: '))
height = float(input('Enter initial height in meters: '))
h = height
bounces = 0
metertravelled = 0
while h >= 0.1:
    height = res * h
    bounces += 1
    metertravelled = round((metertravelled + (height * 2)), 2)
print("Number of bounces: "+bounces)
print("Metered traveled: "+metertravelled + h)

In [2]:
coefficient = float(input('Enter coefficient of restitution: '))
intialheight = float(input('Enter initial height in meters: '))
height = intialheight
bounces = 0
metertravelled = 0
while height >= 0.1:
    height = coefficient * height
    bounces += 1
    metertravelled = round((metertravelled + (height * 2)), 2)
print("Number of bounces: ",bounces)
print("Metered traveled: ",metertravelled + intialheight)

Enter coefficient of restitution: .7
Enter initial height in meters: 8
Number of bounces:  13
Metered traveled:  44.98