In [6]:
x =2 
y = 3 * x
x= y + 5
print(x +4)
y = y + 1
y

15

7

In [7]:
a = 4
b = 5 * a 
print(a+b)

24

In [8]:
num = 5 
num *= 2
print(num)

10

In [11]:
totalMinutes = 135
hours = totalMinutes // 60 
minutes = totalMinutes % 60 
print(hours, minutes)

2 15

In [12]:
a = 2 
b = 3
a + b = c
print(b)

SyntaxError: can't assign to operator (<ipython-input-12-c99051280169>, line 3)

In [13]:
0.05 = interest 
balance = 800
print(interest * balance)

SyntaxError: can't assign to literal (<ipython-input-13-5d4bbd16bd98>, line 1)

In [14]:
int(10.75)

10

In [16]:
abs(3 - 10)

7

In [17]:
round(3.1279, 3)

3.128

In [19]:
a =5
b =3
int(-a / 2)

-2

In [20]:
abs(a - 5)

0

In [21]:
round(a + .5)

6

In [30]:
cost = 5
cost += 5  
cost

10

In [31]:
cost = 36
cost = cost / 6
cost /= 6
cost

6.0

In [33]:
sum = 3
sum = sum % 2
sum %= 2
sum

1

In [35]:
revenue = 98456
costs = 45000
profit = revenue - costs
print(profit)

53456

In [37]:
price = 19.95
discountPercent = 30
markdown = ((discountPercent / 100) * price)
price -= markdown
print(round(price,2))

13.96

In [48]:
balance = 100
for bal in range(0,3):
    balance += (balance * 0.05)
print(round(balance,2))

115.76

In [49]:
balance = 100
for bal in range(0,3):
    balance += (balance * 0.05)
print(round(balance,2))

115.76

In [50]:
"Python"[4]

'o'

In [51]:
"Python"[-3]

'h'

In [52]:
"Python"[0:3]

'Pyt'

In [53]:
"Python"[:2]

'Py'

In [54]:
"Python"[-3:-2]

'h'

In [55]:
"Python"[2:-2]

'th'

In [56]:
"Python"[:]

'Python'

In [57]:
"Python".find("tho")

2

In [58]:
"Python".find("oh")

-1

In [59]:
"whippersnapper".rfind("pp")

10

In [60]:
"Mississippi".find("ss")

2

In [61]:
"colonel".find("k")

-1

In [62]:
"Knickknack".count('k')

3

In [63]:
"8 Ball".lower()

'8 ball'

In [64]:
"8 Ball".upper()

'8 BALL'

In [65]:
"Python"[3:len("Python")]

'hon'

In [66]:
"the artist".title()

'The Artist'

In [67]:
len("Grand Hotel"[:6].rstrip())

5

In [68]:
"let it go".title().find('G')

7

In [69]:
"Amazon".lower().count('a')

2

In [70]:
"King kONG".title()

'King Kong'

In [72]:
states= ["Delaware", "Pennsylvania", "New Jersey", "Georgia", "Connecticut", "Massachusetts", "Maryland", "South Carolina", "New Hampshire", "Virginia", "New York", "North Carolina", "Rhode Island", "Vermont", "Kentucky", "Tennessee", "Ohio", "Louisiana", "Indiana", "Mississippi", "Illinois", "Alabama", "Maine", "Missouri", "Arkansas", "Michigan", "Florida", "Texas", "Iowa", "Wisconsin", "California", "Minnesota", "Oregon", "Kansas", "West Virginia", "Nevada", "Nebraska", "Colorado", "North Dakota", "South Dakota", "Montana", "Washington", "Idaho", "Wyoming", "Utah", "Oklahoma", "New Mexico", "Arizona", "Alaska", "Hawaii"]
print(states[1], states[-1])

Pennsylvania Hawaii

In [73]:
print(states[48], states[49])

Alaska Hawaii

In [74]:
print(states[0], states[-50])

Delaware Delaware

In [75]:
print(states.index("Alaska"))

48

In [76]:
print(states[states.index("Ohio")])

Ohio

In [78]:
states[0] = states[0].upper() 
print(states[0])

DELAWARE

In [79]:
states.append(["Puerto Rico"]) 
print(states[50])

['Puerto Rico']

In [80]:
states.insert(0, "United States") 
print(states[0])

United States

In [81]:
print(states[2:5])

['Pennsylvania', 'New Jersey', 'Georgia']

In [82]:
print(states[-5:-2])

['New Mexico', 'Arizona', 'Alaska']

In [83]:
print(states[:4])

['United States', 'DELAWARE', 'Pennsylvania', 'New Jersey']

In [84]:
print(states[-3:])

['Alaska', 'Hawaii', ['Puerto Rico']]

In [85]:
print(states[3:3])

[]

In [86]:
print(states[1:10][2])

New Jersey

In [87]:
print(states[-2:len(states)])

['Hawaii', ['Puerto Rico']]

In [91]:
a= 2 
b = 3
3 * a == 2 * b

True

In [93]:
a= 2 
b = 3
b <= 3

True

In [94]:
a= 2 
b = 3
a ** (5 – 2) > 7

SyntaxError: invalid character in identifier (<ipython-input-94-596f468912b7>, line 3)

In [96]:
a= 2 
b = 3
(a < b) or (b < a)

True

In [97]:
not((a < b) and (a < (b + a)))

False

In [98]:
((a == b) and (a * a < b * b)) or ((b < a) and (2 * a < b))

False

In [99]:
"9W" != "9w"

True

In [100]:
"Car" < "Train"

True

In [101]:
"99" > "ninety-nine"

False

In [102]:
("Duck" < "pig") and ("pig" < "big")

False

In [103]:
not(('B' == 'b') or ("Big" < "big"))

False

In [104]:
"ty" in "Python"

False

In [105]:
isinstance(32, float)

False

In [106]:
isinstance(32., float)

True

In [107]:
"colonel".startswith('k')

False

In [108]:
"potato".endswith("oe")

False

In [109]:
True or False

True

In [110]:
not True

False

In [116]:
number = eval(input("Enter a non-negative number: "))
if(number > 0):
    print(number ** (1/2))
else:
    print("Number can't be negative")

Enter a non-negative number: 8
2.8284271247461903

In [121]:
names = ["John",'George','Paul','Ringo']
name = 'Johnn'
if name in names:
    flag = True
else:
    flag = False
print(flag)

False

In [130]:
num = 4
if num <= 9:
       print("Less than ten.")
elif num == 4:
    print("Equal to four.")

Less than ten.

In [123]:
print('a' < 'B' < 'c')

False

In [125]:
a = 5
sentence = ""
if ((3 * a) - 4) < 12:
    sentence = "Remember, "
print(sentence + "tomorrow is another day.")

Remember, tomorrow is another day.

In [128]:
a = 2 
b= 3 
c= 5
if (a * b) < c: 
    b= 7
else:
    b = (c * a)
print(b)

10

In [131]:
letter = input("Enter A, B, or C: ") 
letter = letter.upper()
if letter == "A":
    print("A, my name is Alice.")
elif letter == "B":
    print("To be, or not to be.")
elif letter == "C":
    print("Oh, say, can you see.")
else:
    print("You did not enter a valid letter.")

Enter A, B, or C: B
To be, or not to be.

In [133]:
a = 5
if (a > 2) and ((a == 3) or (a < 7)):
    print("Hi")

Hi

In [134]:
if "spam":
    print("A nonempty string is true.")
else:
    print("A nonempty string is false.")

A nonempty string is true.

In [167]:
for seq in range(5,-1,-1):
    print(seq)

5
4
3
2
1
0

In [157]:
range(4,20,5)

range(4, 20, 5)

In [168]:
for i in range(1,5):

    print("Pass #" + str(i))

Pass #1
Pass #2
Pass #3
Pass #4

In [169]:
num = 5
for i in range(num, 2 * num - 2):
    print(i)

5
6
7

In [172]:
# chr(162) is a cents symbol 
stringOfCents = ""
for i in range(1, 11):
        stringOfCents += chr(162)
print(stringOfCents)

¢¢¢¢¢¢¢¢¢¢

In [174]:
for j in range(2, 9, 2): 
    print(j)
print("Who do we appreciate?")

2
4
6
8
Who do we appreciate?

In [175]:
number_of_sibilants = 0 
word = "stargazers"
for ch in word:
    if (ch == 's') or (ch == 'z'):
        number_of_sibilants += 1
print(number_of_sibilants)

3

In [179]:
word = "183651" 
sumOfOddIndexes = 0 
oddIndex = False 
for ch in word:
    if oddIndex:
        sumOfOddIndexes += int(ch)
    oddIndex = not oddIndex
print(sumOfOddIndexes)

15

In [181]:
for ch in "Python": 
    continue
print(ch)

n

In [ ]:
numEvens = 0 
sumOfEvens = 0