In [1]:
3*4

12

In [2]:
1 / (2**3)

0.125

In [3]:
(5 - 3)*4

8

In [4]:
7//3

2

In [5]:
7%3

1

In [6]:
5//5

1

In [7]:
sales.2008

SyntaxError: invalid syntax (<ipython-input-7-3dce0c36c184>, line 1)

In [9]:
fOrM_1040 = 1
fOrM_1040

1

In [11]:
expenses? = 1

SyntaxError: invalid syntax (<ipython-input-11-8a44d273d0e5>, line 1)

In [13]:
a = 2
b = 3
c = 4
(a * b) + c

10

In [14]:
(1 + b) * c

16

In [15]:
b ** (c - a)

9

In [16]:
7.8 + 5

12.8

In [34]:
20 * (5.5/100)

1.1

In [35]:
17*(3+162) 68, 69, 72, 73, 77, 78

2805

In [25]:
purchasePrice = 10
sellingPrice = 15
percentProfit = 100 * ((sellingPrice - purchasePrice)/purchasePrice)
print("Profit is : "+str(percentProfit) + "%")

Profit is : 50.0%

In [28]:
acre_to_produce = float(input("How many acres to farm :"))
#ton of productivity
acre_productivity = 18
# acre produced 
acres_produced = acre_productivity * acre_to_produce
print(str(acres_produced)+" Tons can be grown on "+str(acre_to_produce)+" acres.")

How many acres to farm :30
540.0 Tons can be grown on 30.0 acres.

In [30]:
first_refill = 23352
second_refill = 23695
fuel_quantity_refilled = 14
miles_covered = second_refill - first_refill
mileage = miles_covered/fuel_quantity_refilled
print(str(mileage)+" mpg is the car average between two fillings.")

24.5 mpg is the car average between two fillings.

In [43]:
avg_per_person = 1600
current_population = 315000000
days_in_year = 365
oneMillion = 1000000
oneDay_waterUsage = current_population * avg_per_person
yearly_waterUsage = oneDay_waterUsage * days_in_year
millions = yearly_waterUsage / oneMillion

print("{:,}".format(int(millions))+" million gallons of water is used each year in US.")

183,960,000 million gallons of water used each year in US.

In [37]:
18396000000/1000000

18396.0

In [46]:
US_debt = 1.68 * (10 ** 13)
US_popul = 3.1588 * (10 ** 8)

national_debt = round(US_debt/US_popul)
print(str(national_debt)+" per capita national debt.")

53185 per capita national debt.

In [50]:
oneCubic_choc = 48600 #calroies 
oneMile = 5280 #feet
thousand = 1000
oneCubicMile = oneCubic_choc * oneMile
inThousand_calories = oneCubicMile/thousand
print("{:,}".format(int(inThousand_calories))+" calories in one cubic mile of chocalate ice cream.")

256,608 calories in one cubic mile of chocalate ice cream.

In [51]:
"all clear".title().count('a')

1

In [52]:
a = 4 
b= 6
c = "Municipality"
d = "pal"
print(len(c))
print(c.upper())
print(c[a:b] + c[b + 4:])
print(c.find(d))

12
MUNICIPALITY
city
6

In [53]:
print("f" + "lute")

flute

In [54]:
print("Your age is " + str(21) + ".")

Your age is 21.

In [56]:
r = "A ROSE" 
b = " IS "
print(r + b + r + b + r)

A ROSE IS A ROSE IS A ROSE

In [57]:
var = "WALLA" 
var += var 
print(var)

WALLAWALLA

In [58]:
str1 = "good" 
str1 += "bye"
print(str1)

goodbye

In [59]:
print('M' + ('m' * 6) + '.')

Mmmmmmm.

In [60]:
print('a' +(" " * 5)+ 'b')

a     b

In [62]:
s = "trombones" 
n = 76
print(n, s)

76 trombones

In [63]:
num = input("Enter an integer: ")
print('1' + str(num))

Enter an integer: 7
17

In [64]:
num = float(input("Enter a number: "))
print(1 + num)

Enter a number: 7
8.0

In [65]:
film = "the great gatsby".title()[:10].rstrip()
print(film, len(film))

The Great 9

In [66]:
avenger = 'IronMan'
last_char = avenger[-1]
print(last_char)

'n'

In [70]:
avenger = 'IronMan'
last_char = avenger[0]
print(last_char)

I

In [71]:
avenger[7-1:]

'n'

In [72]:
avenger[7-2:]

'an'

In [73]:
phoneNumber = 234-5678
print("My phone number is " + phoneNumber)

TypeError: must be str, not int

In [75]:
for = "happily ever after." 
print("They lived " + for)

SyntaxError: invalid syntax (<ipython-input-75-8ec8d336fb4b>, line 1)

In [76]:
print('Say it ain't so.')

SyntaxError: invalid syntax (<ipython-input-76-57ef60f80269>, line 1)

In [77]:
print("Python".Upper())

AttributeError: 'str' object has no attribute 'Upper'

In [78]:
age = 19
print("Age: " + age)

TypeError: must be str, not int

In [80]:
num = 1234 
print(num.find('2'))

AttributeError: 'int' object has no attribute 'find'

In [81]:
language = "Python" 
print(language[8])

IndexError: string index out of range

In [1]:
lt_sec = float(input("Enter number of seconds between lightning and Thunder: "))
print("Distance from the storm: {0:.2f} miles".format(lt_sec/5))

Enter number of seconds between lightning and Thunder: 1.25
Distance from the storm: 0.25 miles

In [2]:
e_wattage = float(input("Enter wattage: "))
e_hrs = float(input("Enter number of hours used: "))
e_pkwh = float(input("Enter price per kWh in cents: "))
print("Cost of electricity: ${0:.2f}".format((e_wattage * e_hrs)/(1000 * e_pkwh)))

Enter wattage: 100
Enter number of hours used: 720
Enter price per kWh in cents: 11.76
Cost of electricity: $6.12

In [4]:
e_perShare = float(input("Enter earnings per share: "))
e_pricePerShare = float(input("Enter price per share: "))
print("Price-to-Earnings ratio: {0:.1f}".format(e_pricePerShare/e_perShare))

Enter earnings per share: 5.25
Enter price per share: 68.25
Price-to-Earnings ratio: 13.0

In [ ]:
t_bracket = float(input("Enter tax bracket (as decimal): "))
e_munciIntresRate = float(input("Enter municipal bond interest rate (as %): "))
print("Equivalent CD interest rate: {0:.3f}%".format(e_munciIntresRate/(1 - t_bracket)))

Enter tax bracket (as decimal): 3.3
Enter municipal bond interest rate (as %): 33
Equivalent CD interest rate: -14.348%

In [ ]:
sentence = input("Enter a sentence: ")
w_replace = input('Enter a word to replace: ')
replacement_word = input("Enter replacement word: ")
s_sen = sentence.split(' ')
for sen in s_sen:
    if sen == 'w_replace':
        sen = replacement_word
print((' ').join(s_sen))

In [1]:
print("${0:,.2f}".format(1234))

$1,234.00

In [2]:
print("{0:10s}{1:^16s} {2:s}".format("Language", "Native speakers", "% of World Pop."))
print("{0:10s}{1:^16,d}{2:10.2%}".format("Mandarin", 935000000,.141))
print("{0:10s}{1:^16,d}{2:10.2%}".format("Spanish", 387000000,.0585))
print("{0:10s}{1:^16,d}{2:10.2%}".format("English", 365000000,.0552))

Language  Native speakers  % of World Pop.
Mandarin    935,000,000       14.10%
Spanish     387,000,000        5.85%
English     365,000,000        5.52%

In [3]:
print("Be {0:s} – {1:s} else is taken.".format("yourself", "everyone"))

Be yourself – everyone else is taken.

In [4]:
print("Always {0:s} on the bright side of {1:s}.".format("look", "life"))

Always look on the bright side of life.

In [5]:
x = 3 
y= 4
print("The product of {0:d} and {1:d} is {2:d}.".format(x, y, x * y))

The product of 3 and 4 is 12.

In [6]:
x = 2 # square root of 2 is 1.414213562 to 9 decimal places 
print("The square root of {0:n} is about {1:.4f}.".format(x, x ** .5))

The square root of 2 is about 1.4142.

In [10]:
str1 = "In a randomly selected group of {0:d} people, the " + \
        "probability\nis {1:.2f} that 2 people have the same birthday."
print(str1.format(23, .507397))

In a randomly selected group of 23 people, the probability
is 0.51 that 2 people have the same birthday.

In [48]:
str1 = "You miss {0:.0%} of the shots you never take. - Wayne Gretsky" 
print(str1.format(1))

You miss 100% of the shots you never take. - Wayne Gretsky

In [13]:
# 43/193 is .2227979275 to 10 decimal places
print("{0:.2%} of the UN nations are in {1:s}.".format(43/193, "Europe"))

22.28% of the UN nations are in Europe.

In [14]:
print("{0:s}{1:s}{0:s}".format("abra", "cad"))

abracadabra

In [15]:
str1 = "Be {0:s} whenever {1:s}. It is always {1:s}. - Dalai Lama" 
print(str1.format("kind", "possible"))

Be kind whenever possible. It is always possible. - Dalai Lama

In [16]:
print('Hello')

Hello

In [17]:
print('Hello', end = '\n')

Hello

In [53]:
current_salary = 100000
hikeCut_percentage = 0.10
tenPer_hike = current_salary * (1 + hikeCut_percentage)
tenPer_cut = tenPer_hike * (1 - hikeCut_percentage)
perChange = ((tenPer_cut - current_salary)/ tenPer_cut)
print("Salary after 10% hike: ${0:,.2f}".format(round(tenPer_hike)))
print("Salary after 10% cut: ${0:,.2f}".format(round(tenPer_cut)))
print("Percent change from current salary: {0:.2%}".format(perChange))

Salary after 10% hike: $110,000.00
Salary after 10% cut: $99,000.00
Percent change from current salary: -1.01%

In [55]:
principal_amount = float(input("Enter principle amount: "))
rate = float(input('Enter the rate of interest without "%" sign: '))
investment_time = float(input('Enter investment time in years: '))

future_value = principal_amount * ((1 + (rate/100))**investment_time)

print("Future value: ${0:,.2f}".format(future_value))

Enter principle amount: 1000
Enter the rate of interest without "%" sign: 5
Enter investment time in years: 3
Future value: $1,157.63

In [57]:
future_value = float(input("Enter future value: "))
rate = float(input('Enter the rate of interest without "%" sign: '))
investment_time = float(input('Enter investment time in years: '))

present_value = future_value / ((1 + (rate/100))**investment_time)

print("Present value: ${0:,.2f}".format(present_value))

Enter future value: 10000
Enter the rate of interest without "%" sign: 4
Enter investment time in years: 6
Present value: $7,903.15

In [58]:
state= ["Delaware", "Pennsylvania", "New Jersey", "Georgia", "Connecticut", "Massachusetts", "Maryland", "South Carolina", "New Hampshire", "Virginia", "New York", "North Carolina", "Rhode Island", "Vermont", "Kentucky", "Tennessee", "Ohio", "Louisiana", "Indiana", "Mississippi", "Illinois", "Alabama", "Maine", "Missouri", "Arkansas", "Michigan", "Florida", "Texas", "Iowa", "Wisconsin", "California", "Minnesota", "Oregon", "Kansas", "West Virginia", "Nevada", "Nebraska", "Colorado", "North Dakota", "South Dakota", "Montana", "Washington", "Idaho", "Wyoming", "Utah", "Oklahoma", "New Mexico", "Arizona", "Alaska", "Hawaii"]

['Delaware',
 'Pennsylvania',
 'New Jersey',
 'Georgia',
 'Connecticut',
 'Massachusetts',
 'Maryland',
 'South Carolina',
 'New Hampshire',
 'Virginia']

In [64]:
states= ["Delaware", "Pennsylvania", "New Jersey", "Georgia", "Connecticut", "Massachusetts", "Maryland", "South Carolina", "New Hampshire", "Virginia", "New York", "North Carolina", "Rhode Island", "Vermont", "Kentucky", "Tennessee", "Ohio", "Louisiana", "Indiana", "Mississippi", "Illinois", "Alabama", "Maine", "Missouri", "Arkansas", "Michigan", "Florida", "Texas", "Iowa", "Wisconsin", "California", "Minnesota", "Oregon", "Kansas", "West Virginia", "Nevada", "Nebraska", "Colorado", "North Dakota", "South Dakota", "Montana", "Washington", "Idaho", "Wyoming", "Utah", "Oklahoma", "New Mexico", "Arizona", "Alaska", "Hawaii"]
del states[-2]
states.insert(-1, "Seward's Folly")
print(states[-3:])

['Arizona', "Seward's Folly", 'Hawaii']

In [65]:
states[1] = "Commonwealth of Pennsylvania"
print(states[:3])

['Delaware', 'Commonwealth of Pennsylvania', 'New Jersey']

In [66]:
print(states[-4].split()) 
print(states[2].split())

['New', 'Mexico']
['New', 'Jersey']

In [67]:
print((',').join(states[1:4]))

Commonwealth of Pennsylvania,New Jersey,Georgia

In [74]:
list1=[]
for n in range(0,100):
    list1.append(n)
len(list1[-8:])

8

In [76]:
len(list1[:])

100

In [77]:
len(list1[8:8])

0

In [79]:
nums = [6, 2, 8, 0]
print("Largest Number:", max(nums))

Largest Number: 8

In [80]:
print("Total:", sum(nums))

Total: 16

In [82]:
L = ["sentence", "contains", "five", "words."] 
L.insert(0, "This")
print(" ".join (L))
del L[3]
L.insert(3, "six")
L.insert(4, "different")
print(" ".join (L))

This sentence contains five words.
This sentence contains six different words.

In [83]:
name = input("Enter name with two parts: ") 
L = name.split()
print("{0:s}, {1:s}".format(L[1], L[0]))

Enter name with two parts: Charles Babbage
Babbage, Charles

In [84]:
name = input("Enter name with three parts: ") 
L = name.split()
print("Middle Name:", L[1])

Enter name with three parts: Guido van Rossum
Middle Name: van

In [85]:
tuple1 = ("course", "of", "human", "events", "When", "in", "the") 
tuple2 = tuple1[4:] + tuple1[:4]
print((" ".join(tuple2)))

When in the course of human events

In [86]:
headEditor = ["editor", "in", "chief"] 
print(('-').join(headEditor))

editor-in-chief

In [87]:
motto = ["e", "pluribus", "unum"] 
print(("**").join(motto))

e**pluribus**unum

In [88]:
state = "New York,NY,Empire State,Albany" 
stateFacts = state.split(',') 
print(stateFacts)

['New York', 'NY', 'Empire State', 'Albany']

In [89]:
nations = "France\nEngland\nSpain\n" 
countries = nations.split() 
print(countries)

['France', 'England', 'Spain']

In [107]:
# The three lines of Dev.txt contain mer, gram, pro 
infile = open("Dev.txt", 'r')
dev = [line.rstrip() for line in infile]
infile.close()
dev[0], dev[-1] = dev[-1], dev[0]
word = ("").join(dev)
print(word)

programmer

In [109]:
# The two lines of Live.txt contain Live, let 
infile = open("Live.txt", 'r')
words = [line.rstrip() for line in infile]
infile.close()
words.append(words[0].lower())
quote = (" ").join(words) + '.'
print(quote)

Live let live.

In [111]:
# The three lines of Star.txt contain your, own, star. 
infile = open("Star.txt", 'r')
words = [line.rstrip() for line in infile] 
infile.close()
words.insert(0, "Follow")
quote = (" ").join(words)
print(quote)

Follow your own star

In [114]:
phoneNumber = "9876543219"
list1 = []
for n in phoneNumber:
    list1.append(n)
#list1 = list(phoneNumber) 
list1.insert(3, '-') 
list1.insert(7, '-') 
phoneNumber = "".join(list1) 
print(phoneNumber)

987-654-3219

In [115]:
nums = (3, 9, 6) 
print(list(nums))

TypeError: 'list' object is not callable

In [117]:
word = "etch" 
L = list(word)
L[1] = "a"
print("".join(L))

TypeError: 'list' object is not callable

In [118]:
list1 = ["soprano", "tenor"] 
list2 = ["alto", "bass"] 
list1.extend(list2) 
print(list1)

['soprano', 'tenor', 'alto', 'bass']

In [119]:
list1 = ["gold"]
list2 = ["silver", "bronze"] 
print(list1 + list2)

['gold', 'silver', 'bronze']

In [120]:
list1 = ["mur"] * 2 
print("".join(list1))

murmur

In [121]:
t = ("Dopey", "Sleepy", "Doc", "Grumpy", "Happy", "Sneezy", "Bashful")
print(t[4:20])

('Happy', 'Sneezy', 'Bashful')

In [122]:
answer = ["Yes!", "No!", "Yes!", "No!", "Maybe."] 
num = answer.index("No!")
print(num)

1

In [123]:
threeRs = ["reading", "riting", "rithmetic"] 
print(threeRs[3])

IndexError: list index out of range

In [124]:
list1 = [1, "two", "three", 4] 
print(" ".join(list1))

TypeError: sequence item 0: expected str instance, int found

In [125]:
list1 = [1, "two", "three", 4] 
print(" ".join(list1))

TypeError: sequence item 0: expected str instance, int found

In [126]:
title = ("The", "Call", "of", "the", "Wild") 
title[1] = "Calm"
print(" ".join(title))

TypeError: 'tuple' object does not support item assignment

In [133]:
sentence = input("Enter the sentence to count words: ")
s_list = sentence.split(" ")
print(len(s_list))

Enter the sentence to count words: My name is Harshal?
4

In [137]:
sentence = input("Enter the sentence: ")
s_list = sentence.split(" ")
print("First word: {0:s}".format(s_list[0]))
print("Last word: {0:s}".format(s_list[-1][:-2]))

Enter the sentence: Reach for the stars.
First word: Reach
Last word: star

In [138]:
name = input("Enter 2-part name: ") 
L = name.split()
print("{0:s}, {1:s}".format(L[1], L[0]))

Enter 2-part name: Harshal Kokate
Kokate, Harshal

In [150]:
purchasePrice = 10
sellingPrice = 15
percentProfit = ((sellingPrice - purchasePrice)/purchasePrice)
print("Profit is : {0:.0%}".format(percentProfit))

Profit is : 50%

In [156]:
acre_to_produce = float(input("How many acres to farm :"))
#ton of productivity
acre_productivity = 18
# acre produced 
acres_produced = acre_productivity * acre_to_produce
print("{0:.1f} tons can be grown on {1:.1f} acres.".format(acres_produced,acre_to_produce))

How many acres to farm :12
216.0 tons can be grown on 12.0 acres.

In [160]:
first_refill = 23352
second_refill = 23695
fuel_quantity_refilled = 14
miles_covered = second_refill - first_refill
mileage = miles_covered/fuel_quantity_refilled
print("{:.1f} mpg is the car average between two fillings.".format(mileage))

24.5 mpg is the car average between two fillings.

In [181]:
avg_per_person = 1600
current_population = 315000000
days_in_year = 365
oneMillion = 1000000
oneDay_waterUsage = current_population * avg_per_person
yearly_waterUsage = oneDay_waterUsage * days_in_year
millions = yearly_waterUsage / oneMillion
print("{0:,.0f} million gallons of water is used each year in US.".format(millions))

183,960,000 million gallons of water is used each year in US.

In [172]:
US_debt = 1.68 * (10 ** 13)
US_popul = 3.1588 * (10 ** 8)

national_debt = round(US_debt/US_popul)
print("{0:d} per capita national debt.".format(national_debt))

53185 per capita national debt.

In [182]:
oneCubic_choc = 48600 #calroies 
oneMile = 5280 #feet
thousand = 1000
oneCubicMile = oneCubic_choc * oneMile
inThousand_calories = oneCubicMile/thousand
print("{:,.0f} calories in one cubic mile of chocalate ice cream.".format(inThousand_calories))

256,608 calories in one cubic mile of chocalate ice cream.

In [ ]:
sentence = input("Enter a sentence: ")
w_replace = input('Enter a word to replace: ')
replacement_word = input("Enter replacement word: ")
s_sen = sentence.split()

for idx,elem in enumerate(s_sen):
    if elem == w_replace:
        s_sen[idx] = replacement_word
print((' ').join(s_sen))

In [ ]:
sentence = input("Enter a sentence: ")
w_replace = input('Enter a word to replace: ')
replacement_word = input("Enter replacement word: ")
s_sen = sentence.split()
index = -1
for sen in s_sen:
    index += 1
    if sen == w_replace:
        s_sen[index] = replacement_word
print((' ').join(s_sen))

In [1]:
p = 11
if p :
    print("yaat")
else:
    print("oops")

yaat